# Pandas

In this we will learn how to use pandas for data analysis. You can think of pandas as an extremely powerful version of Excel, with a lot more features. In this section of the course, you should go through the notebooks in this order:

- Series
- DataFrames
- Missing Data
- GroupBy
- Merging,Joining,and Concatenating
- Operations
- Data Input and Output

# Series

A Series is very similar to a NumPy array (in fact it is built on top of the NumPy array object). What differentiates the NumPy array from a Series, is that a Series can have axis labels, meaning it can be indexed by a label, instead of just a number location. It also doesn't need to hold numeric data, it can hold any arbitrary Python Object.

In [2]:
import pandas as pd
# we import pandas as pd where pd is the alias name for easier access.
s1 = pd.Series([1,2,3,4,5])
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
l1=[1,2,3,4,5]
s2=pd.Series(l1)
s2

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
s3=pd.Series(l1,index=['a','b','c','d','e'])

In [5]:
s3

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [8]:
s3=pd.Series({'a':'Aditya','b':'Ball','c':'Cat'})

In [9]:
s3

a    Aditya
b      Ball
c       Cat
dtype: object

In [10]:
s3=pd.Series({'a':'Aditya','b':'Ball','c':'Cat'},index=['d','a','b','c'])

In [11]:
s3

d       NaN
a    Aditya
b      Ball
c       Cat
dtype: object

In [12]:
s3[2]

'Ball'

In [14]:
s3[-1]

'Cat'

In [15]:
s3[-4]

nan

In [16]:
s3.iloc[2]

'Ball'

In [17]:
s3[0:]

d       NaN
a    Aditya
b      Ball
c       Cat
dtype: object

In [20]:
s3[1:4]

a    Aditya
b      Ball
c       Cat
dtype: object

In [21]:
s4=pd.Series([1,3,5,7,9,11,13,15,17,18])

In [22]:
s5=s4*10

In [23]:
s4,s5

(0     1
 1     3
 2     5
 3     7
 4     9
 5    11
 6    13
 7    15
 8    17
 9    18
 dtype: int64,
 0     10
 1     30
 2     50
 3     70
 4     90
 5    110
 6    130
 7    150
 8    170
 9    180
 dtype: int64)

In [24]:
s4+s5

0     11
1     33
2     55
3     77
4     99
5    121
6    143
7    165
8    187
9    198
dtype: int64